.aboutScreen .aboutTitle, .skillsScreen .skillsTitle, .wrapper-fourth .worksScreen .worksTitle, .contactsScreen .contactsTitle {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Philosopher, sans-serif;
}

.skillsScreen .listSkills {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5rem;
}

.wrapper-second, .wrapper-third, .wrapper-contacts {
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.wrapper-first {
  background: url("../img/background.png") no-repeat center center;
  background-size: cover;
}

.mainScreen {
  height: 100vh;
}

.mainScreen .logo {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 300px;
  height: 60px;
}

.mainScreen .list {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainScreen .list .listItem {
  font-family: Philosopher, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
}

.mainScreen .list .listItem:hover {
  -webkit-animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(360deg);
            transform: translateZ(160px) rotateY(360deg);
  }
}

@keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) rotateY(360deg);
            transform: translateZ(160px) rotateY(360deg);
  }
}

.mainScreen .list .listItem > a {
  color: #00FF00;
}

.mainScreen .list .listItem > a:hover {
  text-decoration: none;
  color: #FFFF00;
}

.myNameTitle {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.myNameTitle h1 {
  color: #ffffff;
}

.myNameTitle p {
  color: #00FF00;
}

.wrapper-second {
  background: url(../img/html-back.png) no-repeat center center;
}

.aboutScreen {
  height: 100vh;
}

.aboutScreen .aboutText {
  margin-top: 25%;
  margin-bottom: 50%;
}

.aboutScreen .aboutText p {
  margin: 0 auto;
  width: 500px;
  height: auto;
  border-radius: 5px;
  color: #FF4500;
  -webkit-box-shadow: 0 0 10px 15px #FF7F50;
          box-shadow: 0 0 10px 15px #FF7F50;
  padding: 15px;
  background-color: #333;
  margin-bottom: 5%;
}

.aboutScreen .aboutText a {
  margin-left: 30%;
  background: #FF7F50;
  padding: 0.5rem 0.7rem 0.7rem 0.7rem;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

.wrapper-third {
  background: url("../img/back-third.jpg") no-repeat center center;
}

.skillsScreen {
  height: 100vh;
}

.skillsScreen .skillsTitle {
  color: #ffffff;
}

.skillsScreen .listSkills_item {
  max-width: 370px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc((100% / 3) - 2rem);
          flex: 1 1 calc((100% / 3) - 2rem);
  margin: 0.1rem;
  list-style: none;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
}

.skillsScreen .listSkills_item:nth-child(1), .skillsScreen .listSkills_item:nth-child(2), .skillsScreen .listSkills_item:nth-child(3) {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.skillsScreen .listSkills_item:nth-child(4) {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.skillsScreen .listSkills_item:nth-child(6) {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.skillsScreen .listSkills_item:nth-child(7), .skillsScreen .listSkills_item:nth-child(8) {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.skillsScreen .listSkills_item:hover {
  -webkit-box-shadow: 0 0 5px 8px #ADFF2F;
          box-shadow: 0 0 5px 8px #ADFF2F;
  color: #ADFF2F;
}

.skillsScreen .listSkills_item h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: Philosopher, sans-serif;
  border-bottom: 1px solid #ffffff;
}

.skillsScreen .listSkills_item p {
  padding: 0.2rem;
  font-family: "Open Sans", sans-serif;
}

.wrapper-fourth {
  background-color: #333;
}

.wrapper-fourth .worksScreen {
  height: 100vh;
}

.wrapper-fourth .worksScreen .worksTitle {
  color: #ffffff;
  margin-bottom: 5rem;
}

.wrapper-fourth .worksScreen .slick-slider img {
  padding: 2rem;
}

.wrapper-fourth .worksScreen .moreWorks {
  text-align: center;
}

.wrapper-fourth .worksScreen .moreWorks a {
  padding: 0.5rem 0.7rem 0.7rem 0.7rem;
  background-color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}

.wrapper-contacts {
  background: url("../img/back-contacts.jpg") no-repeat center center;
}

.contactsScreen {
  height: 100vh;
}

.contactsScreen .contactsTitle {
  margin-bottom: 5rem;
}

.contactsScreen .form {
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #FFFF00;
  border-radius: 50px;
}

.contactsScreen .form:hover {
  -webkit-box-shadow: 0 0 5px 8px #FFFF00;
          box-shadow: 0 0 5px 8px #FFFF00;
}

.contactsScreen .form h5 {
  text-align: center;
}

.contactsScreen .form label {
  margin-top: 0.5rem;
}

.contactsScreen .form textarea {
  resize: none;
}

.contactsScreen .form .btn {
  position: relative;
  left: 75%;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

.contactsScreen .form input[type="checkbox"] {
  position: absolute;
  top: 0.9rem;
}

.contactsScreen .form .checkLabel {
  padding-left: 1rem;
}

.policy .title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: Philosopher, sans-serif;
}

.policy .title h1 {
  text-align: center;
}

.policy h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Philosopher, sans-serif;
}

.policy p {
  font-family: "Open Sans", sans-serif;
}

.policy .datePublic {
  color: grey;
}

.link {
  margin-top: 3rem;
}

.link a {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  background-color: #FF4500;
}
